/* Strategy Management page styles */

/* Body styles */
body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  
  /* Page container styles */
  .page-container {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo styles */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Back button styles */
  .back-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .table th,
  .table td {
    padding: 10px 20px;
    text-align: left;
  }
  
  .table th {
    background-color: #2d2d2d;
    border-bottom: 2px solid #ffffff;
  }
  
  .table td {
    border-bottom: 1px solid #ffffff;
  }
  
  .table td:last-child {
    text-align: center;
  }
  
  /* Toggle switch styles */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0;
    vertical-align: middle;
  }
  
  .toggle-switch-input {
    display: none;
  }
  
  .toggle-switch-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8f8f8f;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .toggle-switch-label::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
  
  .toggle-switch-input:checked + .toggle-switch-label {
    background-color: #00b894;
  }
  
  .toggle-switch-input:checked + .toggle-switch-label::before {
    transform: translateX(26px);
  }
  
  .toggle-switch-handle {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: left 0.2s ease, right 0.2s ease;
  }
  .tab {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 16px 24px;
    cursor: pointer;
    border: none;
    background-color: #1f1f1f;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 40%;
    /* align-items: center;
    margin-left: 100; */
  }  